.Header {
  font-style: bold;
  text-align: center;  
  margin-left: auto;
  top: '0';
  left: '0';
  right: 'auto'; 
  bottom: 'auto'; 
  margin-right: '-50%';
  z-index: 1000;
  width: 100%;
  transition: 'translate(-50%, -50%)';
}

.Projects {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  margin-top: 10px;
  background-color: hsla(0,0%, 0%, 1);
  border-width: 5px;
  padding: 20px;  
  border-radius: 8px;  
  font-size: 16px;
  max-width: 350px;
}
.About {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  margin-top: 10px;
  background-color: hsla(0,0%,0%,1);
  border-width: 5px;
  padding: 20px;  
  border-radius: 8px;  
  font-size: 16px;
  max-width: 350px;
}
.Border {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: hsla(0,0%, 0%, 1);
  border-width: 5px;
  padding: 20px;
  border-radius: 8px;  
  font-size: 16px;
  max-width: 700px;
}

.Button2 {
  background-color: #0a4e9c;
  color: hsla(240, 11%, 93%, 0.902);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  border-radius: 8px;
  content: 'Projects';
}
.Button3 {
  background-color: #0a4e9c;
  color: hsla(240, 11%, 93%, 0.902);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  border-radius: 8px;
  content: 'Contact';
}
.Button4 {
  background-color: #0a4e9c;
  color: hsla(240, 11%, 93%, 0.902);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  border-radius: 8px;
  content: 'Home';
}

.my-button {
    background-color: hsla(240, 11%, 93%, 0.902); /* Default background color */
    color: #0a4e9c; /* Default text color */
    padding: 1rem 2rem; /* Padding around the text */
    border-color: #0a4e9c;
    border: 1px solid #0a4e9c; /* Border color */
    border-radius: 5em; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem; /* Font size */
    display: block;
    height: 5rem;
    cursor: pointer;
    max-width: 60%;
    min-width: min-content;
    align-content: center;
}

.my-button:hover {
    background-color: #0a4e9c; /* Background color on hover */
    color: hsla(240, 11%, 93%, 0.902); /* Text color on hover */
}

.my-button-view-services {
    background-color: hsla(240, 11%, 93%, 0.902); /* Default background color */
    color: #0a4e9c; /* Default text color */
    padding: 1rem 2rem; /* Padding around the text */
    border-color: #0a4e9c;
    border: 1px solid #0a4e9c; /* Border color */
    border-radius: 5em; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem; /* Font size */
    display: block;
    height: 5rem;
    cursor: pointer;
    max-width: 60%;
    min-width: min-content;
    align-content: center;
}

.my-button-home {
    background-color: hsla(240, 11%, 93%, 0); /* Default background color */
    color: hsla(240, 11%, 93%, 0.902); /* Default text color */
    padding: 0rem 2rem; /* Padding around the text */
    border-color: #066594;
    border: 1px solid #066594; /* Border color */
    border-radius: 5em; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem; /* Font size */
    font-style: bold;
    font-weight: 100;
    display: block;
    height: 5rem;
    cursor: pointer;
    max-width: 25%;
    align-content: center;
}

.App-port {
  border: 4px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10em;
}

p {
  text-align: left;
  font-size: 2em;
  font-weight: 100;
  color: black;
  border-radius: 5em;
  border-width: 1px;
}

li {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  font-size: 1em;
  font-style: bold;
  color: black;
  border-radius: 5em;
  border-width: 1px;
}

h1 {
  text-align: center;
  font-size: 2em;
  color: black;
}

h2 {
  font-size: 2em;
  font-weight: 100;
  color: hsla(204.39,79.49%,38.24%,1);
  border-radius: 5em;
  border-width: 1px;
  text-align: left;
}

h3 {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  font-size: 2em;
  font-family: 'Times New Roman';
  color: black;
  border-radius: 5em;
  border-width: 1px;
}

h4 {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  font-size: 2em;
  font-family: 'Times New Roman';
  color: black;
  border-radius: 5em;
  border-width: 1px;
}

h5 {
  text-align: left;
  font-size: 2em;
  color: black;
  border-radius: 5em;
  border-width: 1px;
}
